
/*tamaño de las cartas*/
img{
    width: 200px;
    height: 300px;
    border: 1px solid #000;

}
/*Fondo del juego*/
body {
    /*color letras inicio*/
    --color_inicio: rgb(251, 236, 15);

     /*color tablero */
    --color_principal: rgb(224, 197, 45);
	margin: 0;
	padding: 0;
	background-color: #34495e;
}
/*tablero en el que estarán las cartas*/
table#tablero {
	background: var(--color_principal);
	border: black 2px solid;
	width: 950px;
	height: 650px;
	padding: 20px;
	margin: 0px auto;
}



/*texto y color de la palabra jugar*/
h3#inicio {
    text-align: center;
    color: var(--color_inicio);
    font-size: 40px;
    line-height: 70px;

}
/*Logo del titulo del game*/
h1#inicio{
  color: var(--color_inicio);
  font-size: 50px;
  text-align: center;
  
}
/*boton jugar para hacer el circulo que rodea*/
.inicio_jugar {
    width: 160px;
    height: 80px;
    background: green;
    border-radius: 40px;
    margin-left: auto; 
    margin-right: auto; 
    line-height: 70px;

}
/*para quitarle la linea inferior del uso*/
a#inicio{
    text-decoration: none;
}